services:
  sotano:
    build: ./bastion
    container_name: sotano
    hostname: sotano
    networks:
      ops_net:
        ipv4_address: 10.66.0.10
    restart: unless-stopped
  colador:
    build: ./target
    container_name: colador
    hostname: colador
    networks:
      ops_net:
        ipv4_address: 10.66.0.20
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "/healthcheck.sh"]
      interval: 10s
      timeout: 3s
      retries: 10

networks:
  ops_net:
    name: cve24061_internal_net
    driver: bridge
    internal: true
    attachable: false
    ipam:
      config:
        - subnet: 10.66.0.0/24
